.root {
    -fx-background-color: #f0f0f0;
    -fx-font-family: "Segoe UI", sans-serif;
}

.split-pane-divider, .split-pane {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.contenedor{
    -fx-background-color: #ebebeb;
}

.opciones {
    -fx-background-color: #ffffff;
    -fx-padding: 15;
    -fx-spacing: 20;
}

.botones {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #000000;
    -fx-padding: 5 5;
    -fx-cursor: hand;
}

.botones:hover {
    -fx-background-color: #666666;
}

.labels {
    -fx-font-size: 16px;
    -fx-underline: true;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 5 0 0 0;
}

.custom-check {
    -fx-font-size: 10px;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-label-padding: 0 0 0 10;
}

.custom-check .box {
    -fx-border-color: #333;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-padding: 5;
}

.custom-check .text {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-underline: true;
}

.custom-check:selected .box {
    -fx-background-color: #333;
    -fx-border-color: #333;
}

.comboBx {
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-color: #333;
}

/* SOLO el texto del item seleccionado */
.comboBx .list-cell:filled:selected {
    -fx-text-fill: black;   /* Cambia el color del texto */
    -fx-font-weight: bold;
}

.tabla {
    -fx-background-color: #ebebeb;     /* Fondo de la tabla */
}

/* Estilo general de la tabla */
.contenidoTable {
    -fx-background-color: white;
    -fx-border-color: black;       /* borde alrededor de la tabla */
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 0 0 0 0;   /* espacio arriba, derecha, abajo, izquierda */
    -fx-text-fill: black;
}

.table-view .column-header,
.table-view .column-header .label {
    -fx-text-fill: white;          /* texto blanco en encabezado */
    -fx-font-weight: bold;
    -fx-background-color: #333;
}

/* Scrollbars automáticos */
.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.table-view .table-row-cell .text {
    -fx-fill: black; /* color de texto de todas las celdas */
}

/* Evitar azul de selección */
.table-view .table-row-cell:filled:selected,
.table-view .table-row-cell:filled:selected:focused {
    -fx-text-fill: black; /* aunque no siempre funciona sin el anterior */
    -fx-background-color: #91d485;
}



